In [3]:
import os
import platform
from platform import python_version
from datetime import datetime
import pandas as pd
import numpy as np

df_bigmac = pd.read_csv('BigmacPrice.csv')

print(df_bigmac)

df_chicken = pd.read_excel('ChickenData.xlsx')
dictionary = df_chicken.groupby('breed')['eggs_per_year'].apply(list).to_dict()

print(dictionary)

df_cars = pd.read_csv('Cars_autoscout24.csv', sep=";", encoding="cp1252", on_bad_lines='skip')

df_cars['Numeric_Price'] = df_cars['Price'].str.replace(r"[^\d.]", '', regex=True).astype(float)
    
print(df_cars)

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

            date currency_code                  name  local_price  dollar_ex  \
0     2000-04-01           ARS             Argentina         2.50          1
1     2000-04-01           AUD             Australia         2.59          1
2     2000-04-01           BRL                Brazil         2.95          1
3     2000-04-01           GBP               Britain         1.90          1
4     2000-04-01           CAD                Canada         2.85          1
...          ...           ...                   ...          ...        ...
1941  2022-07-01           AED  United Arab Emirates        18.00          3
1942  2022-07-01           USD         United States         5.15          1
1943  2022-07-01           UYU               Uruguay       255.00         41
1944  2022-07-01           VES             Venezuela        10.00          5
1945  2022-07-01           VND               Vietnam     69000.00      23417

      dollar_price
0             2.50
1             2.59
2             2.95
3             1.90
4             2.85
...            ...
1941          6.00
1942          5.15
1943          6.22
1944          2.00
1945          2.95

[1946 rows x 6 columns]
{'Australorp': [273, 360, 185, 257, 346, 270, 295, 256, 212, 207, 253, 276, 322, 252, 275, 175, 362, 287, 185, 261, 258, 156, 213], 'Barnevelder': [317, 169, 161, 361, 266, 319, 184, 287, 347, 359, 303, 186, 266, 192, 233, 212, 287, 173, 335, 351, 316], 'ISA Brown': [299, 210, 317, 277, 286, 188, 263, 289, 234, 217, 192, 150, 162, 225], 'New Hampshire Red': [158, 153, 275, 240, 246, 265, 233, 190, 318, 283, 190, 219, 273, 277, 299, 266, 264, 283, 158, 297], 'Plymouth Rock': [268, 158, 340, 325, 262, 199, 230, 255, 159, 178, 356, 239, 180, 349, 272, 338, 257, 293, 177, 339, 232, 314]}
      Offer_Id                                               Type  \
0      7324420  AUDI A5 Sportback 3.0 TDI quattro S-tronic (Li...
1      7512768        MERCEDES-BENZ SLK 200 7G-Tronic (Cabriolet)
2      7512034  MERCEDES-BENZ C 350 Avantgarde 4Matic 7G-Troni...
3      7512728  MERCEDES-BENZ A 45 AMG 4Matic Speedshift 7G-DC...
4      7490242  AUDI A5 Sportback 2.0 TFSI Sport quattro S-tro...
...        ...                                                ...
3975   7137137                    FERRARI F360 Spider (Cabriolet)
3976   6758841            MERCEDES-BENZ SL 500 560 SL (Cabriolet)
3977   7461330          MERCEDES-BENZ CL 63 AMG 7G-Tronic (Coupé)
3978   7005403                        BMW 328i Cabrio (Cabriolet)
3979   7200843                  BMW 328i Cabrio Sport (Cabriolet)

             Price      PS Init_Regist   Kilometer Fuel_Type  \
0     CHF 22'500.–  245 PS     10.2014   75'000 km    Diesel
1     CHF 23'749.–  184 PS      6.2013   46'655 km    Benzin
2     CHF 18'500.–  306 PS      6.2011  138'955 km    Benzin
3     CHF 36'000.–  360 PS      8.2015   43'000 km    Benzin
4     CHF 48'500.–  252 PS      9.2018   43'300 km    Benzin
...            ...     ...         ...         ...       ...
3975  CHF 58'400.–  400 PS      2.2002   78'000 km    Benzin
3976  CHF 15'900.–  232 PS      1.1987  315'000 km    Benzin
3977  CHF 42'000.–  525 PS      8.2007   85'000 km    Benzin
3978   CHF 9'980.–  193 PS      8.1995  188'920 km    Benzin
3979  CHF 13'500.–  193 PS      4.1999  134'000 km    Benzin

                        Transmission  Numeric_Price
0     Automatisiertes Schaltgetriebe        22500.0
1                Automat sequentiell        23749.0
2                Automat sequentiell        18500.0
3     Automatisiertes Schaltgetriebe        36000.0
4     Automatisiertes Schaltgetriebe        48500.0
...                              ...            ...
3975  Automatisiertes Schaltgetriebe        58400.0
3976              Automatik-Getriebe        15900.0
3977             Automat sequentiell        42000.0
3978          Schaltgetriebe manuell         9980.0
3979          Schaltgetriebe manuell        13500.0

[3980 rows x 9 columns]
-----------------------------------
POSIX
Linux | 5.15.0-1041-azure
Datetime: 2023-09-27 08:55:32
Python Version: 3.10.13
-----------------------------------